/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

form {
  padding-left: 20px;
  font-family: Lucida Sans;
}

h1 {
  padding-left: 20px;
  font-family: Lucida Sans;
  color: rgb(62, 61, 61);
  box-shadow: 2px;
}

p {
  color: rgb(62, 61, 61);
  padding-left: 20px;
  font-family: Lucida Sans;
}

.pathlink {
  inset-block: block;
  padding-left: 20px;
}

#question {
  background-color: rgb(227, 221, 221);
  padding-left: 20px;
  color: darkgreen;
}

#answer {
  background-color: rgb(227, 221, 221);
  padding-left: 20px;
  color: darkgreen;
}
